*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --base-color: rgb(246, 240, 240);
    --text-color: rgb(61, 59, 59);
    --nav-color: rgb(190, 186, 186);
    --item-color: aquamarine;
    --nav-basecolor:  rgba(120, 142, 104, 0.751);
    --nav-hover: rgb(99, 105, 99);
    
}

.darkMode{
    --base-color: black;
    --text-color: white;
    --nav-color: rgb(247, 237, 237);
    --item-color: rgb(205, 231, 222);
    --nav-basecolor: rgb(43, 52, 43);
    --nav-hover: rgb(96, 107, 96);
}
body{
  
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsdiv{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    border-color: rgb(243, 241, 241);
    border-radius: 15px;
    margin: 40px;

}
.card{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(250, 248, 248);
    box-shadow: 0px 15px 20px 5px rgb(78, 77, 77);


}
.card:hover{
    box-shadow: 0 -15px -20px 5px rgb(78, 77, 77);
    cursor: pointer;
}
.footer{
    display: flex;
    margin: 30px;
}
.footerdiv{
    margin: 10px;
}